#game-container{
    display: none;
    align-content: center;
    background-image: url("/assets/grass.png");
    animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-screen-lvl-1 {
    display: none;
}

#game-level-up-screen {
    display: none;
}

#game-end {
    display: none;
}